# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
!*.png
*
!index.html
!favicon.ico
!duck.jpg
!.nojekyll
!xyzview.png
!*.png